.nav{
    background-color:#ffffff;
    width: 1500px;
    height: 90px;
    float:rihgt;
    position: relative;
    top:0px;
    z-index: 999;
}
.logo{
    padding-top: 20px;
    padding-left: 120px;
    float: left;
}
 
.nav1{
    padding-left: 430px;
}
.nav1>li{
    height: 55px;
    float:left;
    font-size: 16px;
    overflow:hidden;
    transition: all 0.2s;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 20px;
    text-align:center;
    transition: all 0.1s;
}
.nav li:hover{
    background-color: rgb(254,65,65);
}

.nav1 li a{
    color: #000;
    display: inline-block;
    transition: all 0.1s;
}
.nav li:hover .box7 a{
    color: #fff;
}

.myBtn{
    margin-left: 220px;
    margin-top: 25px;
    width: 100px;
    background: transparent;
    height: 45px;
    font-size: 16px;
    color:#fad65c;
    border-color:#fad65c;
    cursor: pointer;
    border-radius: 30px; 
    transition: all 0.1ms;
    font-size: 18px;
}
.myBtn:hover{
    background:rgb(255,231,139);
    color: rgb(152,107,13);
}


.menu2{
    padding-top: 8px;
    background-color:rgb(255, 255, 255,0.9) ;
    height: 30px;
    display: none;
    position: absolute;
    overflow: auto;
    margin-left: -520px;
    width: 1500px;
    transition: all 0.1ms;
    z-index: 999;
    position: fixed;

}
.box2{
    height: 45px;
}

.box3{
    float: left;
    padding-left: 520px;
}
.box4{
    float: left;
    padding-left: 30px;
}
.box2:hover .menu2{
    display: block;
    transform:translateY(34px);
}
.menu3{
    padding-top: 8px;
    background-color:rgb(255, 255, 255,0.9);
    height: 30px;
    display: none;
    position: absolute;
    overflow: auto;
    margin-left: -700px;
    width: 1500px;
    transition: all 0.1ms;
    z-index: 999;

}
.box2:hover .menu3{
    display: block;
    transform:translateY(34px);
}
.box5{
    float: left;
    margin-left: 700px;
}
.box6{
    float: left;
    padding-left: 30px;
}
.swiper{
    width: 1500px;
    height: 500px;
}
.swiper-wrapper{
    height: 700px;

}

.swiper-button-prev{
    padding-left: 120px;

}
.swiper-button-next{
    padding-right: 100px;
}
.xinyou{
    width: 1500px;
    margin-left: auto;
    height: 440px;
    background-color: #ffffff;
}
.xy{
    height: 400px;
    padding-left: 150px;
    float:left;
}
.xy span{
    font-size: 26px;
}

.jycw{
    padding-top: 20px;
    width: 930px;
    height: 340px;
    background-color: transparent;
    display: flex;
    justify-content:space-between; 
}
.jw{
    width: 220px;
    height: 330px;
}
.jw a{
    color:#000;
    transition: all 0.1s;
}
.jw p{
    height: 30px;
    padding-top: 10px;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden; 
    font-size: 14px;
    transition: all 0.5s;
}

.jw p:hover{
    background-color: #fad65c;
    margin-left: 20px;
}

.rd{
    padding-top: 20px;
    width: 170px;
    float: right;
    padding-right: 220px;
}
.nr{
    padding-top: 20px;
    padding-bottom: 20px;
}
.rd span{
    font-size: 20px;
    float: left;
}
.redu{
    margin-top: 25px;
}
.im{
    float: right;
    margin-right: -30px;
}

.rd ul li{
    padding-top: 10px;
}
.rd ul li a{
    color:#000;
    transition: all 0.1s;
}
.rd ul li a:hover{
    color:#fad65c;
}
.lf{
    float: right;
    padding-top: 8px;
    padding-right: 40px;
    font-size: 14px;
}
.yy{
    font-size: 12px;
    float: right;
    padding-right: 12px;
    margin-top: -30px;
}
.sg{
    font-size: 12px;
    float: right;
    padding-right: 48px;
    margin-top: -25px;
}

.yyq{
    float: right;
    margin-top: 10px;
    padding-right: 25px;
    font-size: 14px;
}
.yg{
    font-size: 12px;
    float: right;
    padding-right: 12px;
    margin-top: -30px;
}

.remen{
    width: 1500px;
    height: 250px;
    background-color:#ffffff;
    font-size: 26px;
}
.remen span{
    float: right;
    font-size: 26px;
}
.rm{
    padding-left: 148px;
}

.rm span{
    padding-right: 620px;
}
.remen ul{
    padding-left: 148px;
    padding-top: 20px;
}
.remen ul>li{
    float: left;
    padding-right: 40px;
}
.logo2{
    width: 1500px;
    height: 325px;
    background-color:rgb(51,51,63);
}
.logo1{
    font-size: 16px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 170px;
    background-color:transparent;
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    text-align:center;
    color: rgb(126,126,126);
}
.libox1{
    width: 100px;
    height: 60px;
    background-color:transparent;
    transition: all 0.1ms;
    filter: grayscale(1.5) brightness(50%); 
}

.libox1:hover{
    filter: grayscale(0);
}
.footer{
    margin-top: -100px;
    font-size: 12px;
    color:rgb(157,157,157);
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}