.background-blue {
    margin-top: 0;
    background-color: #c4cfd8;
    z-index: -1000;
    height: 100%;
}
.background-white {
    top:0;
    background-color: #fff;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    z-index: -900;
}

/* 通用样式 */
body {
    margin: 0;
}


/* 导航栏样式 */
.navbar {
    position: fixed;
    z-index: 1000;
    top:0;
    width: 1390px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e4c2c2; /* 浅蓝色背景 */
    display: flex;
    justify-content: space-between;
    align-items: center; /* 左右内边距 */
}

.logo{
    float: left;
}
.icons {
    float: right;
   margin-top: -10px; /* 根据需要调整图标与顶部的距离 */
    margin-right: -1800px;/* 根据需要调整图标与右侧的距离 */
    display: flex;
    
}

.icons a {
    z-index: 2000px;
    padding: 0 10px; /* 图标之间的间距，根据需要调整 */
}

.icons a img {
    height: auto;
}
/* 搜索框容器 */
.search-container {
    position: relative;
    display: inline-block; /* 使搜索框和触发器在同一行 */
}

/* 初始状态：搜索框隐藏 */
#search-box {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: -35px;/* 根据实际触发器位置调整 */
    right: 0; /* 初始状态在触发器右侧 */
    width: 100px; /* 根据需要调整宽度 */
    transform: translateX(100%); /* 初始状态在右侧外 */
    opacity: 0; /* 初始透明度 */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden; /* 初始不可见 */
}

/* 动画效果：搜索框显示时从右往左展开 */
#search-box.active {
    opacity: 1; /* 完全可见 */
    transform: translateX(-300px); /* 移动到可见位置 */
    visibility: visible; /* 可见 */
}


#search-box input[type="text"] {
    background-color: rgba(255, 255, 255, 0);
    outline: none; /* 去除聚焦时的边框 */
    border: none;
    font-size: 16px;
}

/* 导航栏样式 */
.navbar {
    background-color: #ffffff; /* 浅蓝色背景 */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* 左右内边距 */
}



/* 导航链接样式 */
.nav-links {
    display:inline-block;
    padding-right: 5px;
    list-style: none;
    display: flex;
    position: relative; /* 相对定位，以便 .icons 可以相对于它定位 */
    margin-top: 50px; /* 根据图标的高度调整，以确保导航链接不与图标重叠 */
}

.nav-links li {
    display: inline-block;
    padding-left: 40px; 
    padding-top: 20px;
    font-size: 12px;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-links a {
    text-decoration: none; /* 移除下划线 */
    color: #284A41; /* 文字颜色 */ 
    
}
/* 隐藏二级菜单 */
.sub-menu {
    font-size: 14px;
    display: none;
    position: absolute;
    width: 1440px;
    background-color: #ffffff; /* 背景颜色 */
    z-index: 1000; /* 确保显示在页面其他元素之上 */
    margin-left: -893px;
}


/* 鼠标悬停在一级菜单上时显示二级菜单 */
.nav-links li:hover .sub-menu {
    display: block;
}

/* 导航链接样式 */
.nav-links a {
    position: relative; /* 相对定位以放置伪元素 */
    text-decoration: none;
    color: #284A41;
    display: inline-block;
    padding-bottom: 10px; /* 为下划线留出空间 */
    overflow: hidden; /* 隐藏超出伪元素的下划线 */
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 50%; /* 初始状态在文本的中心 */
    bottom: 0;
    width: 0; /* 初始宽度为0 */
    height: 1.5px; /* 下划线的厚度 */
    background-color: #93a4a0;
    transition: all 0.1s ease; /* 动画效果 */
    transform: translateX(-50%); /* 居中对齐 */
}

/* 当鼠标悬停在链接上时，改变伪元素的宽度 */
.nav-links a:hover::after {
    width: 100%; /* 下划线宽度变为100% */
}

/* 二级菜单的样式可以根据需要进一步定制 */
.sub-menu li {
    font-size: 14px;
    float: left;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 50px 50px; /* 内边距 */
    list-style: none; /* 移除列表项标志 */
    color: #284A41;
}
.sub-menu li a {
    color: #284A41;/* 文字颜色 */
    text-decoration: none; /* 移除下划线 */
    display: block; /* 使链接填满整个列表项 */
}
.sub-menu li p{
    padding-top: 20px;
}

.sub-menu2 {
    font-size: 14px;
    display: none;
    position: absolute;
    width: 1440px;
    background-color: #ffffff; /* 背景颜色 */
    z-index: 1000; /* 确保显示在页面其他元素之上 */
    margin-left: -1069px;
}

/* 鼠标悬停在一级菜单上时显示二级菜单 */
.nav-links li:hover .sub-menu2 {
    display: block;
}

/* 二级菜单的样式可以根据需要进一步定制 */
.sub-menu2 li {
    font-size: 14px;
    float: left;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 50px 50px; /* 内边距 */
    list-style: none; /* 移除列表项标志 */
    color: #284A41;
}
.sub-menu2 li a {
    color: #284A41;/* 文字颜色 */
    text-decoration: none; /* 移除下划线 */
    display: block; /* 使链接填满整个列表项 */
}
.sub-menu2 li p{
    padding-top: 20px;
}


.sub-menu3 {
    font-size: 14px;
    display: none;
    position: absolute;
    width: 1440px;
    background-color: #ffffff; /* 背景颜色 */
    z-index: 1000; /* 确保显示在页面其他元素之上 */
    margin-left: -1168px;
}

/* 鼠标悬停在一级菜单上时显示二级菜单 */
.nav-links li:hover .sub-menu3 {
    display: block;
}

/* 二级菜单的样式可以根据需要进一步定制 */
.sub-menu3 li {
    font-size: 14px;
    float: left;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 50px 50px; /* 内边距 */
    list-style: none; /* 移除列表项标志 */
    color: #284A41;
}
.sub-menu3 li a {
    color: #284A41;/* 文字颜色 */
    text-decoration: none; /* 移除下划线 */
    display: block; /* 使链接填满整个列表项 */
}

.sub-menu4 {
    font-size: 14px;
    display: none;
    position: absolute;
    width: 1440px;
    background-color: #ffffff; /* 背景颜色 */
    z-index: 1000; /* 确保显示在页面其他元素之上 */
    margin-left: -1257px;
}

/* 鼠标悬停在一级菜单上时显示二级菜单 */
.nav-links li:hover .sub-menu4 {
    display: block;
}

/* 二级菜单的样式可以根据需要进一步定制 */
.sub-menu4 li {
    font-size: 14px;
    float: left;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 50px 50px; /* 内边距 */
    list-style: none; /* 移除列表项标志 */
    color: #284A41;
}
.sub-menu4 li a {
    color: #284A41;/* 文字颜色 */
    text-decoration: none; /* 移除下划线 */
    display: block; /* 使链接填满整个列表项 */
}

/* 响应式设计 */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        width: 100%;
        background-color: #c4cfd8; /* 导航背景色 */
    }

    .nav-links li {
        text-align: center; /* 文字居中 */
    }
}
.popup {
    z-index: 3000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.); /* 半透明背景 */
    display: none; /* 默认隐藏 */
    /* 其他样式 */
}
.logo2{
    padding-top: 22.5px;
    padding-left: 25px;
}
.popup a{
    float: right;
    padding-right: 25px;
    padding-top: 22.5px;
}
.neir{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 500px;
    background-color: #ffffff;
}
.neir2{
    padding-top: 10px;
    text-align: center;
}
.neir2 h2{
    color: #284A41;
}
.neir2 p{
    font-size: 12px;
    color: #888;
    padding-top: 10px;
}
.wes{
    font-size: 14px;
    color: #284A41;

}
.neir3{
    margin-top: 50px;
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.den{
    float: left;
    font-size: 12px;
    color: #284A41;
}
.pol{
    padding-left: 50px;
    float: right;
    font-size: 12px;
    color: #284A41;

}
.neir3 li{
    padding-top: 20px;
}
.banner {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1390px;
    position: relative;
}

.banner img{
    display: block;
  
}
/* ESG文本样式 */
.ESG {
    position: absolute; /* 绝对定位相对于 .banner */
    top:525.36px;
    height: 120px;
    width:100%;
    overflow: hidden;
    background-color:rgb(40,74,65,0.3);
    color: #fff; /* 文本颜色，根据背景调整 */
    text-align: center; /* 文本水平居中 */
    font-size: 15px; /* 根据需要调整字体大小 */
    z-index: 10; /* 确保文本在图片上方 */
    line-height: 100px; 
    transition: all 0.3s;
}
.ESG:hover{
    background-color:rgb(40,74,65,0.5) ;
}
.ESG a{
    color: #fff; /* 文本颜色，根据背景调整 */
}

.ban2{
    height: 384px;
    background-color: #d7e0df;
    
}

.timeline {

    display: flex;
    justify-content: space-around;

}
.timeline h2{
    font-size: 100px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: -1px; 
}

.timeline-item{
    padding: 120px 20px;
    
}

.timeline-year {
    color: #284a41;
    margin-bottom: 10px;

}
.timeline-description {
    font-size: 18px;
    text-align: center;
    color: #284a41;
}

.ban3{
    background-color: #f3f6f5;
    height: 580px;
   
}
.news{
    width: 1154px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.zxdt
{
    padding-top:  100px;
    height: 32px;
    padding-left: 120px;

}
.ppic{
    position: relative;

    float: left;
}
.text1{
    position: absolute;
    padding-left: 30px;
    padding-top: 10px;
    color: #284a41;
}

.text2{
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
    color: #284A41;
    cursor: pointer;
}
.pic{
    overflow: hidden;
    width: 365.66px;
}

.pic img{
    transition: all 1s;
}
.pic img:hover{
    overflow: hidden;
    transform: scale(1.05);
}

.ban4{
    color: #284a41;
    height: 120px;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}
.liulan{

    height: 100px;
    background-color: rgb(232, 243, 224);

}
.liulan img{
    height: 30px;
    float: left;
    padding-left: 100px;
    padding-top: 70px;
}
.llwz{
    color: #284a41;
    padding-left: 105px;
    padding-top: 78px;
}
.ban5{
    z-index: -100;
    height: 546px;
    background-color: rgb(232, 243, 224);
}

.swiper-wrapper{
    display: flex;
    align-items: center;
}
.swiper-slide img { 
    display: block;
    object-fit: cover;
    padding-bottom: 125px;
    padding-top: 125px;
}

.swiper-slide{
    position: relative; /* 为绝对定位的文本创建参考点 */
    text-align: center; 
}
.txt1{    
    color: rgb(1, 86, 34);
    position: absolute; /* 绝对定位文本 */
    width: 100%; /* 文本宽度与图片一致 */
    top: 50%; /* 将文本放置在图片的垂直中心 */
    left: 50%;
    transform: translate(-35%, -50%); /* 将文本向左和向上移动50%以居中 */
    margin: 0; /* 移除文本的默认外边距 */
}
.swiper-slide h2 {
    font-size: 42px;
}
.swiper-slide p{
    margin-top: 40px;
    font-size: 20px;
}
.ban6{
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 300px;
    background-color: #ffffff;
}
.pijiu1{
    transition: all 0.3s;
    width: 278px;
    height: 300px;
    background-color: #4c8272;
}
.pijiu2{
    transition: all 0.3s;
    width: 278px;
    height: 300px;
    background-color: #435051;
}
.pijiu3{
    transition: all 0.3s;
    width: 278px;
    height: 300px;
    background-color:  #72a49f;
}
.pijiu4{
    transition: all 0.3s;
    width: 278px;
    height: 300px;
    background-color: #5e6b6b;
}
.pijiu5{
    transition: all 0.3s;
    width: 278px;
    height: 300px;
    background-color: #396155;
}
.pijiu{
    transition: all 0.3s;
}
.pijiu:hover{
    transform: translateY(-10px);
}
.pijiu1:hover .pijiu{
    transform: translateY(-10px);
}
.pijiu2:hover .pijiu{
    transform: translateY(-10px);
}
.pijiu3:hover .pijiu{
    transform: translateY(-10px);
}
.pijiu4:hover .pijiu{
    transform: translateY(-10px);
}
.pijiu5:hover .pijiu{
    transform: translateY(-10px);
}
.ban6 img{
    display: inline-block;
    margin-top: -40px;
}
.ban6 p{
    font-size: 14px;
    color: #fff;
}

.pj{
    margin: 20px 0 15px 0;
    color: #fff;
    font-size: 18px;
}
.ban7{
    height: 156px;
    background-color: #284a41;
}
.sspp{
    font-size: 18.72px;
    color: #fff;
    width: 278px;
    height: 65px;
    justify-content: center; 
    display: flex;
    align-items: center;
    padding: 40px 0px;
} 
.search-box2{
    display: flex;
    align-items: center; /* 垂直居中 */
    margin-right: 20px;
    float: right;
    margin-top: -90px;
    width: 250px;
    height: 61px;
    background-color: rgba(255,255,255,0.2);
}
.search-box2 input[type="text2"] {
    background-color: transparent;
    border: none;
    padding: 20px;
    color: #ffffff;
    outline: none;
}
input[type=text2]::placeholder{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.search-btn2{
    cursor: pointer;
    background-image: url('../images/sousuo.png');
    width: 40px;
    height: 40px;
    background-size: contain;
    border: none;
}
.ban8{
    color: #284a41;
    height: 700px;
    background-color: #f3f6f5;
    padding-top: 100px;
}
.ttz{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.ttz1{
    padding: 15px;
    text-align: justify;
    line-height: 150%;
    width: 370px;
}
.ttz1 p{
    font-size: 16px;
    margin-bottom: 20px;
}
.xiazai{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 14px;
}
.ttz2{
    line-height: 1.5;
    float: right;
    padding: 15px;
    width: 370px;
}
.ttz3{
    line-height: 1.5;
    float: right;
    padding: 15px;
    width: 370px;
}
.ttz3 h1{
    font-size: 110px;
}
.zengz{
    font-size: 50px;
    color: rgb(1, 86, 34);
}

.jiantou{
    float: left;
    padding-top: 10px;
}
.baogao a{
    color: #284A41;
}
.bg1{
    height: 65px; /* 元素的高度 */
    line-height: 65px; 
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    padding: 10px 0;
    border-color: #bdc8ca;
}
.bgpic{
    float: left;
}
.flag{
    width: 100%;
    font-size: 14px;
    text-align: center;
}
.ban9{
    font-size: 16px;
    padding-top: 100px;
    width: 1184px;
    height: 399.46px;
    margin-left: auto;
    margin-right: auto;
    color: #284a41;
}
.ltext{
    padding-left: 15px;
    padding-right: 30px;
    float: left;
    text-align: justify;
    line-height: 150%;
    width: 562px;
    font-family: 'ThemeFont-Primary', sans-serif;
}
.ban10{
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 1184px;
    height: 450px;
}
.tianmao
{
    padding-right: 30px;
    padding-left: 15px;
    float: left;
}
.pic2{
    width: 562px;
    overflow: hidden;
}
.pic2 img{
    transition: all 1s;
}
.pic2 img:hover{
    overflow: hidden;
    transform: scale(1.05);
}
.footer{
    padding-top: 170px;
    padding-bottom: 170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 13px;
    color: #5a5a5a;
}
.footer_text{
    margin-bottom: 50px;
    
}
.txt{
    margin-bottom: 30px;
}
.footer a{
    color: #5a5a5a;
}