*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
ul,li,ol{
    list-style: none;
}
.clears{
    clear: both;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
